<h1> Find Chuck Norris jokes by Keyword </h1>
<form class="searchForm" action="/search-result" method="get">
<label for="keyword-input"> Joke Keyword: </label>
<input id='keyword-input' type='search' name="searchTerm">
<br>
<br>
<button> Search Now! </button>
<br>
<br>
</form>
